[submodule "social"]
	path = social
	url = https://github.com/RLCO/social.git
	branch = 12.0
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/RLCO/account-financial-reporting.git
	branch = 12.0
[submodule "OCA/hr"]
	path = OCA/hr
	url = https://github.com/RLCO/hr.git
	branch = 12.0

[submodule "RLJO/MyApps"]
	path = RLJO/MyApps
	url = git@github.com:RLJO/MyApps.git
	branch = All
