[submodule "social"]
	path = social
	url = https://github.com/RLCO/social.git
	branch = 12.0
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = https://github.com/RLCO/account-financial-reporting.git
	branch = 12.0

[submodule "RLCO/logistic"]
	path = RLCO/logistic
	url = git@github.com:RLCO/logistic.git
	branch = master

[submodule "RLJO/1"]
	path = RLJO/1
	url = git@github.com:RLJO/1.git
	branch = 1111
